body {
  background-color: #18191A;
  font-family: sans-serif;
  color: white;
}

.mainContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 64px;
}

.dataContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
}

.header {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
}

.bio {
	text-align: center;
	margin-top: 16px;
}

.waveButton {
	cursor: pointer;
	margin-top: 20px;
	padding: 10px;
	border: 0;
	border-radius: 8px;
	width: 100%;
  font-size: 16px;
  font-weight: 800;

}

.waveTextbox {
	display: flex;
	justify-content: center;
	width: 596px;
	margin: 15px 0px;
}

.waveLabel {
	text-align: center;
	margin-top: 25px;
	color: rgb(255, 166, 248);
  font-weight: 800;
}

.waveCount {
	margin: 20px 0;
	padding: 0 5px;
	text-align: center;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}

p {
  font-size: 17px;
}

.allWaves {
  margin-bottom: 30px;
	padding: 18px;
	border: 0;
	border-radius: 10px;
	max-width: 100%;
  background-color: rgb(72, 65, 72);
  line-height: 150%;
}

.waveHeadings {
  font-weight: 900;
  color: rgb(255, 164, 247);
}