body {
	background-color: #18191a;
	font-family: sans-serif;
	color: #e4e6eb;
}

.mainContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 64px;
}

.dataContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
}

.header {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
}

.bio {
	text-align: center;
	margin-top: 16px;
}

.waveButton {
	cursor: pointer;
	padding: 10px;
	border: 0;
	border-radius: 8px;
	width: 12rem;
	font-size: 16px;
	font-weight: 800;
	background-color: #841ae0;
	color: white;
	text-align: center;
	display: block;
	margin: 18px auto;
}

.fullLengthButton {
  width: 100%;
  padding: 7px;
  margin-top: 13px;
  margin-bottom: 0;
}

.waveTextbox {
	display: flex;
	justify-content: center;
	width: 596px;
	margin: 15px 0px;
}

.waveLabel {
	text-align: center;
	margin-top: 25px;
	color: white;
	font-weight: 900;
}

.waveCount {
	margin: 34px 0;
	padding: 0 5px;
	text-align: center;
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: 600;
}

p {
	font-size: 17px;
}

.allWaves {
	margin-bottom: 30px;
	padding: 18px;
	border: 0;
	border-radius: 10px;
	max-width: 100%;
	background-color: rgb(62, 62, 65);
	line-height: 150%;
	color: white;
}

.waveHeadings {
	font-weight: 900;
	color: rgb(255, 144, 196);
}